<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Database Project 1</title>
    <!-- Bootstrap XXX (i took it out and chaned to base.html but its the same thing ish) -->
    <link rel="stylesheet" href="/static/css/base.css">

    <link rel="stylesheet" href="/static/css/testbase.css"> {% block css %} {% endblock%}
</head>

<body>
    <header>
    </header>
    <main>
        <div class="sidebar-box">
            <!-- X this is the sidebar on the left -->
            {% include "sidenav.html" %}
        </div>
        <div class="true-body">
            <div class="main-area">
            <!-- X The area in the middle of the page -->
                {% include "header.html" %}
                <div class="main-content">
                    {% include 'flash_messages.html' %} {% block main %}{% endblock %}
                </div>
            </div>
            <footer>
                {% include "footer.html" %}
            </footer>
        </div>

    </main>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block js %} {% endblock%}
</body>

</html>