<link rel="stylesheet" href="/static/css/home.css"> {% extends "base.html" %} {% block main %}
<div class="container">
    <div class="left-section">
        <div class="home-header-container">
            <h2 id="title">My Courses</h2>
        </div>
        {% for course in courses %}
        <a href="{{ url_for('course_view', course_code=course.course_code) }}">
            <div class="course-box">
                <h3 class="course-title">{{course.course_code}} {{course.course_name}}</h3>
                <p class="course-lecturer">{{course.first_name}} {{course.last_name}}</p>
                <p class="course-description">{{course.course_description}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="right-section">
        <div id="calendar-box"><img id="calendar" src="/static/uploads/graphics/calendar.jpg"></div>
    </div>
</div>
{% endblock %}